backend/patient_subsystem/__pycache__/*
backend/patient_subsystem/__pycache__/
backend/scheduling/__pycache__/*
backend/scheduling/controllers/__pycache__/*
backend/scheduling/migrations/__pycache__/*
backend/db/*
