[submodule "frontend"]
	path = frontend
	url = https://github.com/CS3560-02-006/cs3560-patient-subsystem-frontend.git
	branch = main
	update = merge
[submodule "backend"]
	path = backend
	url = https://github.com/CS3560-02-006/cs3560-patient-subsystem-backend.git
	branch = main
	update = merge
